In [1]:
import pandas as pd

In [3]:
prod_15 = pd.read_csv("../data/products_over15.csv")
order_prod_prior = pd.read_csv("../data/order_products__prior.csv")
order_prod_train = pd.read_csv("../data/order_products__train.csv")
orders = pd.read_csv("../data/orders.csv")

In [3]:
#prod_15.head()

In [4]:
#order_prod_prior.head()

In [5]:
#order_prod_train.head()

In [6]:
#orders.head()

In [4]:
#len(order_prod_train.order_id.unique())

In [5]:
#order_prod_train.shape

In [6]:
#len(order_prod_prior.order_id.unique())

In [7]:
#order_prod_prior.shape

In [8]:
#order_prod_prior[order_prod_prior["order_id"] == 6]

In [3]:
order_prod = order_prod_prior.append(order_prod_train, ignore_index=True)

In [70]:
#order_prod.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [4]:
#order_prod['rating'] = order_prod['reordered'] + 1
order_prod = order_prod.drop(["add_to_cart_order", "reordered"], axis = 1)
order_prod.head()

   order_id  product_id
0         2       33120
1         2       28985
2         2        9327
3         2       45918
4         2       30035

In [54]:
#orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [60]:
#len(orders["user_id"].unique())

206209

In [5]:
order_user = orders[['order_id', 'user_id']]
#print(order_user.head())
#print(order_prod.head())

In [73]:
# orders and products by order 
#print(order_prod.shape)
# order id - user id mapping 
#print(order_user.shape)

(33819106, 2)
(3421083, 2)

In [6]:
user_prod = pd.merge(order_prod, order_user, on='order_id', how='left').drop('order_id', axis = 1)
user_prod.head()

   product_id  user_id
0       33120   202279
1       28985   202279
2        9327   202279
3       45918   202279
4       30035   202279

In [77]:
#user_prod.shape

(33819106, 2)

In [7]:
user_prod['count'] = 1
user_prod.head()

   product_id  user_id  count
0       33120   202279      1
1       28985   202279      1
2        9327   202279      1
3       45918   202279      1
4       30035   202279      1

In [8]:
# customer clusters 
cluster0 = pd.read_pickle('cluster_0')
cluster1 = pd.read_pickle('cluster_1')
cluster2 = pd.read_pickle('cluster_2')

In [9]:
#user_prod.groupby(["product_id", "user_id"]).count()
data = user_prod.groupby(["product_id", "user_id"])["count"].count().reset_index(name="count")

In [10]:
data = data[['user_id','product_id', 'count']]
#data

In [11]:
samp_data = data.sample(frac=0.05, replace=False, random_state=1)

In [94]:
#print(len(cluster0))
#print(len(cluster1))
#print(len(cluster2))

24703
43035
138471

In [12]:
# subset user-product into 3 subsets
# with customer clusters 
data0 = data[data['user_id'].isin(cluster0)]
data1 = data[data['user_id'].isin(cluster1)]
data2 = data[data['user_id'].isin(cluster2)]

In [13]:
samp_data2 = data2.sample(frac=0.1, replace=False, random_state=1)

now data0, 1, 2 are preprocessed into format the surprise library takes.

plan: run different recommender systems on these subsets of the data to see if performance changes from running it on all customers

In [104]:
#conda install -c conda-forge scikit-surprise

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda3

  added / updated specs:
    - scikit-surprise


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    scikit-surprise-1.1.1      |   py38h174b24a_1         586 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         586 KB

The following NEW packages will be INSTALLED:

  scikit-surprise    conda-forge/osx-64::scikit-surprise-1.1.1-py38h174b24a_1



Downloading and Extracting Packages
scikit-surprise-1.1. | 586 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

#### General approach

FILL IN

In [14]:
from surprise import Dataset
from surprise import Reader

In [15]:
reader = Reader(rating_scale=(1, 101))
data = Dataset.load_from_df(data[['user_id', 'product_id', 'count']], reader)
data0 = Dataset.load_from_df(data0[['user_id', 'product_id', 'count']], reader)
data1 = Dataset.load_from_df(data1[['user_id', 'product_id', 'count']], reader)
data2 = Dataset.load_from_df(data2[['user_id', 'product_id', 'count']], reader)
samp_data = Dataset.load_from_df(samp_data[['user_id', 'product_id', 'count']], reader)
samp_data2 = Dataset.load_from_df(samp_data2[['user_id', 'product_id', 'count']], reader)

In [16]:
from surprise import SVD
from surprise.model_selection import cross_validate
from surprise import accuracy
from surprise.model_selection import train_test_split


from surprise import SVDpp, NMF, SlopeOne, CoClustering, KNNBaseline, KNNBasic, KNNWithZScore, BaselineOnly

First we run SVD on 1) full data and then 2) the 3 segments (full broken into 3 subsets) to see if performance differs.

In [126]:
# baseline algo SVD on full data 
# just to establish baseline results


print('split the data set: 75% train, 25% test')
trainset, testset = train_test_split(data, test_size=.25)

algo = SVD()
#cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)
print('fitting SVD, default config to establish baseline')
algo.fit(trainset)
print('predict test set')
predictions = algo.test(testset)

print('compute RMSE')
# Then compute RMSE
accuracy.rmse(predictions)

split the data set: 75% train, 25% test
fitting SVD, default config to establish baseline
predict test set
compute RMSE
RMSE: 3.4414

3.4413818720856373

In [19]:
# baseline algo SVD on random sample of full data 
# to compare with full data results 
# just to establish baseline results


print('split the data set: 75% train, 25% test')
trainset, testset = train_test_split(samp_data, test_size=.25)

algo = SVD()
#cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)
print('fitting SVD, default config to establish baseline')
algo.fit(trainset)
print('predict test set')
predictions = algo.test(testset)

print('compute RMSE')
# Then compute RMSE
accuracy.rmse(predictions)

split the data set: 75% train, 25% test
fitting SVD, default config to establish baseline
predict test set
compute RMSE
RMSE: 3.4878

3.4877520476501327

In [129]:
# baseline algo SVD on data0, 1, 2
d = {0:data0, 1:data1, 2:data2}

for i in range(3):
    df = d[i]
    print("using data%2d, customer segment %2d" % (i, i+1))
    print('split the data set: 75% train, 25% test')
    trainset, testset = train_test_split(df, test_size=.25)

    print('initialize algo SVD')
    algo = SVD()
    
    print('fitting SVD, default config to establish baseline')
    algo.fit(trainset)
    
    print('predict test set')
    predictions = algo.test(testset)

    print('compute RMSE')
    # Then compute RMSE
    accuracy.rmse(predictions)

using data 0, customer segment  1
split the data set: 75% train, 25% test
initialize algo SVD
fitting SVD, default config to establish baseline
predict test set
compute RMSE
RMSE: 1.1116
using data 1, customer segment  2
split the data set: 75% train, 25% test
initialize algo SVD
fitting SVD, default config to establish baseline
predict test set
compute RMSE
RMSE: 5.1809
using data 2, customer segment  3
split the data set: 75% train, 25% test
initialize algo SVD
fitting SVD, default config to establish baseline
predict test set
compute RMSE
RMSE: 2.0765

In [18]:
# baseline algo NMF on sample of full data 
# just to establish baseline results


print('split the data set: 75% train, 25% test')
trainset, testset = train_test_split(samp_data, test_size=.25)

algo = NMF()
#cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)
print('fitting NMF, default config to establish baseline')
algo.fit(trainset)
print('predict test set')
predictions = algo.test(testset)

print('compute RMSE')
# Then compute RMSE
accuracy.rmse(predictions)

split the data set: 75% train, 25% test
fitting NMF, default config to establish baseline
predict test set
compute RMSE
RMSE: 3.6593

3.659340558583933

In [17]:
# NMF on data0, 1, 2
d = {0:data0, 1:data1, 2:data2}

for i in range(3):
    df = d[i]
    print("using data%2d, customer segment %2d" % (i, i+1))
    print('split the data set: 75% train, 25% test')
    trainset, testset = train_test_split(df, test_size=.25)

    print('initialize algo NMF')
    algo = NMF()
    
    print('fitting NMF, default config to establish baseline')
    algo.fit(trainset)
    
    print('predict test set')
    predictions = algo.test(testset)

    print('compute RMSE')
    # Then compute RMSE
    accuracy.rmse(predictions)

using data 0, customer segment  1
split the data set: 75% train, 25% test
initialize algo NMF
fitting NMF, default config to establish baseline
predict test set
compute RMSE
RMSE: 1.2088
using data 1, customer segment  2
split the data set: 75% train, 25% test
initialize algo NMF
fitting NMF, default config to establish baseline
predict test set
compute RMSE
RMSE: 5.2981
using data 2, customer segment  3
split the data set: 75% train, 25% test
initialize algo NMF
fitting NMF, default config to establish baseline
predict test set
compute RMSE
RMSE: 2.0807

In [ ]:
# KNN only on data0 and data2, since it is computationally expensive on 
# matrix with large numbers of items

small_orders = [data0, data2]
names = ['cluster 0', 'cluster 2']
for i in range(2):
    
    print('TESTING:', names[i])
    dataset = small_orders[i]
    
    print('split the data set: 75% train, 25% test')
    trainset, testset = train_test_split(dataset, test_size=.25)

    print('initialize algo NMF')
    algo = KNNBasic()
    
    print('fitting NMF, default config to establish baseline')
    algo.fit(trainset)
    
    print('predict test set')
    predictions = algo.test(testset)

    print('compute RMSE')
    # Then compute RMSE
    accuracy.rmse(predictions)

TESTING: cluster 0
split the data set: 75% train, 25% test
initialize algo NMF
fitting NMF, default config to establish baseline
Computing the msd similarity matrix...
Done computing similarity matrix.
predict test set
compute RMSE
RMSE: 1.1660
TESTING: cluster 2
split the data set: 75% train, 25% test
initialize algo NMF
fitting NMF, default config to establish baseline
Computing the msd similarity matrix...

KNN kills kernel on all the data sets excpet for data0 (cluster0), seems to be too computationally expensive for larger matrices. At the same time, the result (RMSE) for data0 doesn't seem to outperform only algorithmns for baseline results.

#### loop through a selection of algorithms for 1) 5% of full data and 2) data0, try to find best algorithms

In [21]:
'''
benchmark = []
algos = [BaselineOnly(), SVDpp(), KNNBasic(), NMF(), CoClustering()]
algo_names = ['BaselineOnly','SVDpp', 'KNNBasic','NMF', 'CoClustering']
# Iterate over all algorithms
for i in range(len(algos)):
    print('testing: ', algo_names[i])
    algorithm = algos[i]
    
    # Perform cross validation
    print('cross validation')
    results = cross_validate(algorithm, samp_data, measures=['RMSE'], cv=3, verbose=False)
    
    # Get results & append algorithm name
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algorithm).split(' ')[0].split('.')[-1]], index=['Algorithm']))
    benchmark.append(tmp)
    
pd.DataFrame(benchmark).set_index('Algorithm').sort_values('test_rmse')  

'''
algos = [BaselineOnly(), SVDpp(), SlopeOne(), CoClustering()]
algo_names = ['BaselineOnly','SVDpp', 'SlopeOne','CoClustering']
bm = {'BaselineOnly':0,'SVDpp':0, 'SlopeOne':0,'CoClustering':0}

for i in range(len(algos)):
    print('TESTING: ', algo_names[i])
    algorithm = algos[i]
    
    print('split the data set: 75% train, 25% test')
    trainset, testset = train_test_split(samp_data, test_size=.25)

    print('fitting', algo_names[i],', default config to establish baseline')
    algorithm.fit(trainset)
    print('predict test set')
    predictions = algorithm.test(testset)

    print('compute RMSE')
    # Then compute RMSE
    acc = accuracy.rmse(predictions)
    bm[algo_names[i]] = acc

TESTING:  BaselineOnly
split the data set: 75% train, 25% test
fitting BaselineOnly , default config to establish baseline
Estimating biases using als...
predict test set
compute RMSE
RMSE: 3.3716
TESTING:  SVDpp
split the data set: 75% train, 25% test
fitting SVDpp , default config to establish baseline
predict test set
compute RMSE
RMSE: 3.6213
TESTING:  SlopeOne
split the data set: 75% train, 25% test
fitting SlopeOne , default config to establish baseline
predict test set
compute RMSE
RMSE: 4.0174
TESTING:  CoClustering
split the data set: 75% train, 25% test
fitting CoClustering , default config to establish baseline
predict test set
compute RMSE
RMSE: 4.8722

In [22]:
# try CV, so results more robust
benchmark = []
# Iterate over all algorithms
for algorithm in [SVD(), SVDpp(), SlopeOne(), NMF(), BaselineOnly(), CoClustering()]:
    # Perform cross validation
    results = cross_validate(algorithm, samp_data, measures=['RMSE'], cv=3, verbose=False)
    
    # Get results & append algorithm name
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algorithm).split(' ')[0].split('.')[-1]], index=['Algorithm']))
    benchmark.append(tmp)
    
pd.DataFrame(benchmark).set_index('Algorithm').sort_values('test_rmse')

Estimating biases using als...
Estimating biases using als...
Estimating biases using als...

              test_rmse   fit_time  test_time
Algorithm
BaselineOnly   3.401873   1.646250   1.303675
SVD            3.448130  23.575058   2.433299
SVDpp          3.580704  50.176859   3.832049
NMF            3.697266  34.388143   5.054507
CoClustering   3.726586  19.216695   1.437688
SlopeOne       4.052783  35.033196   3.883378

In [24]:
# try CV, so results more robust
benchmark = []
# Iterate over all algorithms
for algorithm in [SVD(), NMF(), BaselineOnly(), CoClustering()]:
    # Perform cross validation
    results = cross_validate(algorithm, samp_data, measures=['MAE'], cv=5, verbose=False)
    
    # Get results & append algorithm name
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algorithm).split(' ')[0].split('.')[-1]], index=['Algorithm']))
    benchmark.append(tmp)
    
pd.DataFrame(benchmark).set_index('Algorithm').sort_values('test_mae')

Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...

              test_mae   fit_time  test_time
Algorithm
NMF           1.765764  40.374601   1.680190
BaselineOnly  1.788431   1.882875   1.225406
SVD           1.793454  28.874786   1.990464
CoClustering  1.980306  21.925307   1.794411

In [18]:
# try CV on data0
# try CV, so results more robust
benchmark_0 = []
# Iterate over all algorithms
for algorithm in [SVD(), NMF(), KNNBasic(), BaselineOnly()]:
    # Perform cross validation
    results = cross_validate(algorithm, data0, measures=['RMSE'], cv=5, verbose=False)
    
    # Get results & append algorithm name
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algorithm).split(' ')[0].split('.')[-1]], index=['Algorithm']))
    benchmark_0.append(tmp) # changed to benchmark_0 after error msg
    
pd.DataFrame(benchmark_0).set_index('Algorithm').sort_values('test_rmse')

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...

              test_rmse   fit_time  test_time
Algorithm
BaselineOnly   1.089678   0.755848   0.739492
SVD            1.108454  13.752308   0.993355
KNNBasic       1.164634  29.795149  17.647200
NMF            1.204137  16.401314   0.840477

In [19]:
# try CV on data0
# try CV, so results more robust
benchmark_0 = []
# Iterate over all algorithms
for algorithm in [SVD(), NMF(), KNNBasic(), BaselineOnly()]:
    # Perform cross validation
    results = cross_validate(algorithm, data0, measures=['MAE'], cv=5, verbose=False)
    
    # Get results & append algorithm name
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algorithm).split(' ')[0].split('.')[-1]], index=['Algorithm']))
    benchmark_0.append(tmp) # changed to benchmark_0 after error msg
    
pd.DataFrame(benchmark_0).set_index('Algorithm').sort_values('test_mae')

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...

KeyError: 'test_rmse'

In [20]:
pd.DataFrame(benchmark_0).set_index('Algorithm').sort_values('test_mae')

              test_mae   fit_time  test_time
Algorithm
NMF           0.651845  16.290065   1.333666
SVD           0.675950  13.615016   1.805387
BaselineOnly  0.681747   0.747039   0.781782
KNNBasic      0.694083  29.732582  17.471893

In [27]:
# typo from block above, forgot to change to benchmark_0 when append
# here benchmark is actually benchmark_0
pd.DataFrame(benchmark).set_index('Algorithm').sort_values('test_rmse')

              test_rmse   fit_time  test_time
Algorithm
BaselineOnly   1.093106   0.658078   2.811652
SVD            1.111859  11.503051   0.867332
SVDpp          1.123760  40.772415   2.609253
KNNBasic       1.178905  27.027613  18.394223
CoClustering   1.187577   6.708118   0.470420
SlopeOne       1.203635  15.992062   4.766140
NMF            1.204027  14.137813   3.620358
BaselineOnly   3.401873   1.646250   1.303675
SVD            3.448130  23.575058   2.433299
SVDpp          3.580704  50.176859   3.832049
NMF            3.697266  34.388143   5.054507
CoClustering   3.726586  19.216695   1.437688
SlopeOne       4.052783  35.033196   3.883378

In [29]:
# try CV on data1
# try CV, so results more robust
benchmark_1 = []
# Iterate over all algorithms
for algorithm in [SVD(), SVDpp(), SlopeOne(), NMF(), BaselineOnly(), CoClustering()]:
    print('here')
    # Perform cross validation
    results = cross_validate(algorithm, data1, measures=['RMSE'], cv=3, verbose=False)
    
    # Get results & append algorithm name
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algorithm).split(' ')[0].split('.')[-1]], index=['Algorithm']))
    benchmark_1.append(tmp)
    
pd.DataFrame(benchmark_1).set_index('Algorithm').sort_values('test_rmse')

here
here
here
here
here
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
here

              test_rmse     fit_time   test_time
Algorithm
SlopeOne       4.659422   427.155067  492.065826
BaselineOnly   4.670651     7.742253   14.524952
CoClustering   4.763332    50.662264   19.170414
SVD            5.138838   171.908334   14.471877
NMF            5.368413   175.410924   19.289022
SVDpp         97.827278  3442.271826  158.484391

In [21]:
# try CV on data1
# try CV, so results more robust
benchmark_1 = []
# Iterate over all algorithms
for algorithm in [SVD(), NMF(), BaselineOnly(), CoClustering()]:
    print('here')
    # Perform cross validation
    results = cross_validate(algorithm, data1, measures=['MAE'], cv=5, verbose=False)
    
    # Get results & append algorithm name
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algorithm).split(' ')[0].split('.')[-1]], index=['Algorithm']))
    benchmark_1.append(tmp)
    
pd.DataFrame(benchmark_1).set_index('Algorithm').sort_values('test_mae')

here
here
here
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
here

              test_mae    fit_time  test_time
Algorithm
BaselineOnly  2.577572    8.406161  12.817482
CoClustering  2.585889   72.946006  46.133111
NMF           2.720681  201.500572  16.003362
SVD           2.922889  198.357494  13.664186

In [17]:
# try CV on data2
# try CV, so results more robust
benchmark_2 = []
# Iterate over all algorithms
for algorithm in [SVD(), SVDpp(), SlopeOne(), NMF(), BaselineOnly(), CoClustering()]:
    print('here')
    # Perform cross validation
    results = cross_validate(algorithm, samp_data2, measures=['RMSE'], cv=3, verbose=False)
    
    # Get results & append algorithm name
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algorithm).split(' ')[0].split('.')[-1]], index=['Algorithm']))
    benchmark_2.append(tmp)
    
pd.DataFrame(benchmark_2).set_index('Algorithm').sort_values('test_rmse')

here
here
here
here
here
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
here

              test_rmse    fit_time  test_time
Algorithm
BaselineOnly   2.062889    2.300474  17.970827
SVD            2.097216   30.166527   3.509758
SVDpp          2.164766   80.885308  13.470831
NMF            2.270651   45.003007  18.997487
CoClustering   2.336403   22.694426  28.981533
SlopeOne       2.430272  105.378881  60.713146

In [23]:
# try CV on sample of data2
# try CV, so results more robust
benchmark_2 = []
# Iterate over all algorithms
for algorithm in [SVD(), NMF(), BaselineOnly(), CoClustering()]:
    print('here')
    # Perform cross validation
    results = cross_validate(algorithm, samp_data2, measures=['MAE'], cv=5, verbose=False)
    
    # Get results & append algorithm name
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algorithm).split(' ')[0].split('.')[-1]], index=['Algorithm']))
    benchmark_2.append(tmp)
    
pd.DataFrame(benchmark_2).set_index('Algorithm').sort_values('test_mae')

here
here
here
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
here

              test_mae   fit_time  test_time
Algorithm
NMF           1.201661  45.417120   2.011475
BaselineOnly  1.212824   2.249456   1.664409
SVD           1.218897  35.611385   2.836083
CoClustering  1.270094  22.107554   2.107323

In [ ]:
# grid search for hyper parameter tuning 
# sample of full data
# baseline 
# ALS

print('Using ALS, set param_grid')
param_grid = {'bsl_options': {'method': ['als'],
                              'reg_i': [10, 1, 0.1, 0.01],
                              'reg_u': [15, 1.5],
                              'n_epochs':[5, 10]}
              }

print('grid search')
gs_bl = GridSearchCV(BaselineOnly, param_grid, measures=['rmse'], cv=3)

print('fitting BaselineOnly')
gs_bl.fit(samp_data)

# best RMSE score
print(gs_bl.best_score['rmse'])

# combination of parameters that gave the best RMSE score
print(gs_bl.best_params['rmse'])

In [ ]:
# grid search for hyper parameter tuning 
# sample of full data
# baseline 
# SGD

print('Using SGD, set param_grid')
param_grid = {'bsl_options': {'method': ['sgd'],
                              'reg': [0.2, 0.02, 0.002],
                              'learning_rate': [0.005, 0.05],
                              'n_epochs':[15, 20]}
              }

print('grid search')
gs_bl2 = GridSearchCV(BaselineOnly, param_grid, measures=['rmse'], cv=3)

print('fitting BaselineOnly')
gs_bl2.fit(samp_data)

# best RMSE score
print(gs_bl2.best_score['rmse'])

# combination of parameters that gave the best RMSE score
print(gs_bl2.best_params['rmse'])

In [ ]:
# cv with best parameter 
# on (sample of?) full data

In [ ]:
# grid search for cluster 0, 1, 2